/* .mysitenavbar{
    background-color: black;
    color: #ffffff;
} */
.herosectionimage{
    height: 100vh;
}
h2{
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 70px;
    font-size: 40px;
}
.maincardimg{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.card-title{
    text-transform: capitalize;
}
 .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.card:hover .btn {
    background-color: blue;   
    border-color: blue;
}
.ctpara {
    text-transform: capitalize;
    margin-top: 7px;
    /* display: inline-block; */
}

.ctprice {
    text-transform: capitalize;
}